

<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; ReminderApp </b></a>
    <span class="quote text-light">Giving you freedom...</span>
 
  </nav>
  
  <h1 style="color: antiquewhite;">welcome </h1>
 
  
  <!-- <app-animation-demo></app-animation-demo> -->
  <!-- <button (click)="deletefromParent" style="float: right; margin-right: 10px;" class="btn btn-danger">Delete</button> -->
  <hr>
  <!-- <app-delete-confirm (onDelete)="onDelete($event)" (onCancel)="onCancel()" [item]=acno></app-delete-confirm> -->
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 appHighlight class="text-center">Event Details</h3>
                  
              </div>
              <div class="card-body">

              <form [formGroup]="dashboardForm">

                   

                     
                      <div class="text-center p-2">
                        <input type="date" formControlName="eventdate" id="date" style="width:80%" >
                    </div>
                    <div class="text-center" *ngIf="(this.dashboardForm.get('date')?.touched) && this.dashboardForm.get('date')?.errors"
                        style="color: red;">please Enter date</div>
 

                      <div class="text-center p-4" style="width:100%">
                        <textarea class="form-control text-center" formControlName="eventname" placeholder="Add Event Discription" id="floatingTextarea"></textarea>
                      </div>

                    <div class="text-center" *ngIf="(this.dashboardForm.get('event')?.touched)&& this.dashboardForm.get('event')?.errors"
                        style=" color: red;">please Enter Discription</div>

                        <div class="form-group text-center d-flex justify-content-around">


                           <button type="button" (click)="addEvent()" class="btn">Add Event</button>
                           <button type="button" routerLink="/viewevent"  style="border: 1px solid cadetblue;" class="btn ">View Event</button>
                        </div>
                     
                     
                  </form>
              </div>
              
          </div>
      </div>
  </div>
  
